
/* var - General */

$colorHeaderNav: black;
$colorHeaderLogo: white;
$colorTextoHeader: white;
$colorBackground: white;


/* var - Page.Inicio */

$colorItemListadoPokemon_hover: #3f3f3f;
$colorItemListadoPokemon: rgb(53, 53, 53);
$colorImagenPokemon: rgba(87, 87, 87, 0.555);
$colorTextoNombrePokemon: white;
$colorLinkPokemon: #474747;
$colorTextoLinkPokemon: white;

$colorBorderLinkListado: #353535; 
$colorLinkListado: black;

/* var - Page.DetallePokemon */

$colorBackgroundPokemon: #353535b5;
$colorLineBarPokemon: #3e3e3e;
$colorBackgroundType: #202020d5;
